body {
    padding: 0;
    margin: 0;
    background-color: white;

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#contentSection{
    display: block;
    margin-left: 25%;
    margin-right: 0;
}

section div{
    margin: 10% 4% 35% 0%;
    display: block;
    font-size: 1.5vw;
    background-color: white;
    min-height: 35vh;
    padding: 5vw;
    border-radius: 2vw;
}

#containerLP{
    position: fixed;
    top: 50%;
    transform: translate(-55%, -50%);
}

#lpPlaat {
    width: 50vw;
    animation: rotate linear;
    animation-timeline: scroll();
  
    animation-iteration-count: 1;
    animation-fill-mode: both;

    -webkit-filter: drop-shadow(8px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  
  @keyframes rotate {
    to {
      rotate:1turn;
    }
  }

  h1 {
    margin-top: 0;
    font-family: "Candal", serif;
    font-weight: 400;
    font-size: 4.5vw;
    font-style: normal;
    text-transform: uppercase;
  }

  section div:nth-last-of-type(1){
    margin: 10% 4% 10% 0%;
  }